@model DSM5.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid  text-center bg-2G">
    <h2 class="margin colorTituloProductos">Mi perfil</h2>

    <h4>Datos personales</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

    </dl>
    <hr />

    <p class="admin btn btn-default">
        @Html.ActionLink("Modificar datos", "Edit", new { id = Model.Email })
    </p>

    <p class="admin btn btn-default">
        @Html.ActionLink("Ver carrito", "Details", "Carrito", new { id = Model.carrito }, null)
    </p>

    <p class="admin btn btn-default">
        @Html.ActionLink("Lista Siguiendo", "mostrarlista", "Usuario", new { idus = Model.Email, tipo = "sig" }, null)
    </p>

    <p class="admin btn btn-default">
        @Html.ActionLink("Lista Favoritos", "mostrarlista", "Usuario", new { idus = Model.Email, tipo = "fav" }, null)
    </p>

    <p class="admin btn btn-default">
        @Html.ActionLink("Lista Vistos", "mostrarlista", "Usuario", new { idus = Model.Email, tipo = "visto" }, null)
    </p>
    <p class="admin btn btn-default">
        @Html.ActionLink("Salir", "deslog", "Usuario", null, null)
    </p>
</div>