@model DSM5.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2"> 
    <div class="container">
        <h2 class="margin colorTituloProductos">Mi perfil</h2>

        <h4>Datos personales</h4>
        <table class="table table-bordered table-responsive">
            <thead>

            </thead>

            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td class="perfilTabla">@Html.DisplayFor(modelItem => Model.Nombre)</td>
                </tr>
            </tbody>
            <tbody class="perfilTabla">
                <tr>
                    <td>Apellidos</td>
                    <td>@Html.DisplayFor(modelItem => Model.Apellidos)</td>
                </tr>
            </tbody>
            <tbody class="perfilTabla">
                <tr>
                    <td>Password</td>
                    <td>@Html.DisplayFor(modelItem => Model.Password)</td>
                </tr>
            </tbody>
            <tbody class="perfilTabla">
                <tr>
                    <td>Email</td>
                    <td>@Html.DisplayFor(modelItem => Model.Email)</td>
                </tr>
            </tbody>
            <tbody class="perfilTabla">
                <tr>
                    <td>Dirección</td>
                    <td>@Html.DisplayFor(modelItem => Model.Direccion)</td>
                </tr>
            </tbody>
            <tbody class="perfilTabla">
                <tr>
                    <td>Tarjeta</td>
                    <td>@Html.DisplayFor(modelItem => Model.Tarjeta)</td>
                </tr>
            </tbody>
            <tbody class="perfilTabla">
                <tr>
                    <td>Imagen</td>
                    <td>@Html.DisplayFor(modelItem => Model.Imagen)</td>
                </tr>
            </tbody>
        </table>


        <a class="btn btn-default" href='@Url.Action("Edit", new { id = Model.Email })'>Modificar datos</a>

        <a class="btn btn-default" href='@Url.Action("Details", "Carrito", new { id = Model.carrito }, null)'>Ver carrito</a>

        <a class="btn btn-default" href='@Url.Action("mostrarlista", "Usuario", new { idus = Model.Email, tipo = "sig" }, null)'>Lista Siguiendo</a>

        <a class="btn btn-default" href='@Url.Action("mostrarlista", "Usuario", new { idus = Model.Email, tipo = "fav" }, null)'>Lista Favoritos</a>

        <a class="btn btn-default" href='@Url.Action("mostrarlista", "Usuario", new { idus = Model.Email, tipo = "visto" }, null)'>Lista Vistos</a>

        <a class="btn btn-default" href='@Url.Action("deslog", "Usuario", null, null)'>Salir</a>
    </div>
</div>