@model IEnumerable<DSM5.Models.Usuario>

@{
    ViewBag.Title = "Resultadobusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid bg-2">
    <div class="container">
        <h2 class="text-center">Resultado búsqueda</h2>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Tarjeta</th>
                    <th>Imagen</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Apellidos)</td>
                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Tarjeta)</td>
                        <td>@Html.DisplayFor(modelItem => item.Imagen)</td>
                        <td>
                            <a class="btn btn-danger" href='@Url.Action("Delete", new { id=item.Email })'>Borrar</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

</div>


