@model IEnumerable<DSM5.Models.Comentario>


<div class="container">
    <p>
        <a class="btn btn-default" href='@Url.Action("Create", "Comentario", new { id = @Session["comen"] }, null)'>Comentar</a>
    </p>
    @foreach (var item in Model)
    {
        <hr />
        <div class="row">
            <div class="col-md-1">
                <p> @Html.DisplayFor(model => item.autor)</p>
            </div>
            <div class="col-md-9">
                <p>@Html.DisplayFor(model => item.comentario)</p>
            </div>
            <div class="col-md-2">

                @if (Session["admin"] != null && (bool)Session["admin"] == true)
    {
            <a class="btn btn-danger" href='@Url.Action("Delete", "Comentario", new { id = item.id, tipo = @Session["controller"] }, null)'>Borrar</a>
}
            </div>
        </div>
          
    }
</div>
