@model IEnumerable<DSM5.Models.Comentario>


<div class="container">
    <p>
        @Html.ActionLink("Comentar", "Create", "Comentario", new { id = @Session["id_cap"] }, null)
    </p>
    @foreach (var item in Model)
    {
        <hr />
        <div class="row">
            <div class="col-md-1">
                <p>@Html.DisplayFor(model => item.autor)</p>
            </div>
            <div class="col-md-9">
                <p>@Html.DisplayFor(model => item.comentario)</p>
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Edit", "Edit", "Comentario", new { id = item.id, tipo = @Session["controller"] }, null)
                @Html.ActionLink("Details", "Details", "Comentario", new { id = item.id, tipo = @Session["controller"] }, null)
                @Html.ActionLink("Delete", "Delete", "Comentario", new { id = item.id, tipo = @Session["controller"] }, null)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayFor(model => item.fecha)
            </div>
        </div>    
    }
</div>
