@model IEnumerable<DSM5.Models.Comentario>

<p>
    
    @Html.ActionLink("nuevo", "Create", "Comentario", new { id = @ViewData["id_serie"] }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Comentario", new { id = item.id, tipo = @ViewData["controller"] }, null)
            @Html.ActionLink("Details", "Details", "Comentario", new { id = item.id, tipo = @ViewData["controller"] }, null)
            @Html.ActionLink("Delete", "Delete", "Comentario", new { id = item.id, tipo = @ViewData["controller"] }, null)
           
        </td>
    </tr>
}

</table>
