<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title - COKE & POPCORNS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("COKE&POPCORNS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--HTML, MetodoControlador, NombreControlador-->
                    <li>@Html.ActionLink("Series", "Index_Usu", "Serie")</li>
                    <li>@Html.ActionLink("Peliculas", "Index", "Pelicula")</li>
                    <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                    <li>@Html.ActionLink("Eventos", "Index", "Evento")</li>
                    <li>

                        <a href='@Url.Action("Index", "Carrito")'>
                            <span class="glyphicon glyphicon-shopping-cart"> </span>
                        </a>

                    </li>
                    <li>
                        <a href='@Url.Action("Index", "Usuario")'>
                            <span class="glyphicon glyphicon-user"> </span>
                            @if (Session["log"]!=null&&(bool)Session["log"] == true)
                            {
                                @Session["correo"] 
                            }
                        </a>
                        
                    </li>

                    



                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <hr />
    <footer class="text-center">
        <div class="bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="p-4 col-md-6">
                        <h4 class="mb-4 text-secondary">COKE&POPCORNS</h4>
                        <p class="text-white">Pelis, series, productos, eventos y lo que quieras tt.</p>
                    </div>
                    <div class="p-4 col-md-6">
                        <h4 class="mb-4">Contacto</h4>
                        <p>
                            <a href="tel:+36 542 550 546" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+36 - 542 550 542</a>
                        </p>
                        <p>
                            <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@coka.com</a>
                        </p>
                        <p>
                            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>36 Uni Alicante, ALC</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p>&copy; @DateTime.Now.Year - COKE & POPCORNS</p>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
