@model IEnumerable<DSM5.Models.Temporada>




    <div class="container">
        @foreach (var item in Model)
        {

        <div class="col-md-9">
            <div class="col-md-10">

                <a class="btn btn-primary center-block" href='@Url.Action("mostrar_cap", "Temporada", new { id = item.id, tipo = @Session["controller"] },null)'>@item.Nombre</a>

                
                @if (Session["admin"] != null && (bool)Session["admin"] == true)
                {
                    <hr />
                    <a class="btn btn-danger center-block" href='@Url.Action("Create", "Temporada", new { id = item.id, tipo = @Session["controller"] },null)'>Añadir temporada</a>
                }

            </div>
            @if (Session["admin"] != null && (bool)Session["admin"] == true)
            {
        <div class="col-md-2 admin">
            @Html.ActionLink("Editar", "Edit", "Temporada", new { id = item.id, tipo = @Session["controller"] }, null)
            @Html.ActionLink("Borrar", "Delete", "Temporada", new { id = item.id, tipo = @Session["controller"] }, null)
        </div>
            }
        <hr />
        </div>
        }

    </div>