@model IEnumerable<DSM5.Models.Temporada>


@if (Session["admin"] != null && (bool)Session["admin"] == true)
{
    <p class="admin">
        @Html.ActionLink("Añadir temporada", "Create", "Temporada", new { id = @Session["id_serie"] },null)
    </p>
}
    <div class="container">
        @foreach (var item in Model)
        {

        <div class="col-md-9">
            <div class="col-md-10">
                @Html.ActionLink(item.Nombre, "mostrar_cap", "Temporada", new { id = item.id, tipo = @Session["controller"] }, null)
            </div>
            @if (Session["admin"] != null && (bool)Session["admin"] == true)
            {
        <div class="col-md-2 admin">
            @Html.ActionLink("Editar", "Edit", "Temporada", new { id = item.id, tipo = @Session["controller"] }, null)
            @Html.ActionLink("Borrar", "Delete", "Temporada", new { id = item.id, tipo = @Session["controller"] }, null)
        </div>
            }
        <hr />
        </div>
        }

    </div>