@model IEnumerable<DSM5.Models.Temporada>

<p class="admin">
    @Html.ActionLink("Añadir temporada", "Create", "Temporada", new { id = @ViewData["id_serie"] })
</p>
<div class="container">
    @foreach (var item in Model)
    {

        <div class="col-md-9">
            <button type="button" class="btn btn-default col-md-12" data-toggle="collapse" data-target="#demo">@Html.DisplayFor(modelItem => item.Nombre)</button>
            <div id="demo" class="collapse">
                <p>Aqui van los capitulos</p>
            </div>
            @Html.ActionLink("Edit", "Edit", "Temporada", new { id = item.id, tipo = @ViewData["controller"] }, null)
            @Html.ActionLink("Delete", "Delete", "Temporada", new { id = item.id, tipo = @ViewData["controller"] }, null)
            <hr />
        </div>
    }

</div>