@model IEnumerable<DSM5.Models.Lineas_pedido>


@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@
<div class="container bg-2">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
                <tbody>
                    <tr>
                        <td>
                            <a class="imagenesCarrito" href='@Url.Action("Details", "@Html.DisplayFor(modelItem => item.tipo)s", new { id = item.id })'>
                                <img class="imagenesCarrito" src='~/Images/@Html.DisplayFor(modelItem => item.tipo)s/@Html.DisplayFor(modelItem => item.imagen)' />
                            </a>

                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.tipo)</td>
                        <td>@Html.DisplayFor(modelItem => item.precio)€</td>
                        <td>@Html.DisplayFor(modelItem => item.cantidad)</td>
                        <td>
                            <a class="btn btn-default" href='@Url.Action("Details", item.tipo, new { id = item.articulo },null)'>Detalles</a>
                            <a class="btn btn-default" href='@Url.Action("delllinea", "Carrito", new { id = @Session["carrito"], idpro = item.id }, null)'>Restar cantidad</a>

                        </td>
                    </tr>
                </tbody>
        }
    </table>
</div>

@*
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Tipo
        </th>
        <th>
            Precio
        </th>
        <th>
            Cantidad
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.articulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)€
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>



        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })   
            @Html.ActionLink("eliminar uno", "delllinea", "Carrito", new { id = @Session["carrito"],idpro=item.id }, null)
        </td>
    </tr>
}

</table>
*@