@model DSM5.Models.Carrito

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Carrito de compra</h2>


<p>
    @Html.Partial("_Lineapedido", (IEnumerable<DSM5.Models.Lineas_pedido>)ViewBag.coment)
    @*
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Details", "Usuario", new { id = @Session["correo"] }, null)
    *@
</p>
<p >
   <h3 class="text-center"> Precio total: @Html.DisplayFor(model => model.Precio) 
       <button type="button" class="btn ">@Html.ActionLink("Comprar", "compra", "Carrito", new { id = Model.id }, null)</button>  
    </h3>
    
</p>


















@*
<div>
    <h4>Carrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

    </dl>
</div>
*@


