@model DSM5.Models.Temporada

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="admin">¿Esta seguro de que desea borrar la temporada @Html.DisplayFor(model => model.Nombre)?</h3>
    <hr />
    <div class="row">
        <div class="col-md-7 gerMargenLetras">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-danger" />
                    @Html.ActionLink("Cancelar", @ViewData["action"] as string, @ViewData["controller"] as string, @ViewData["arg"], null)
                </div>
            }
        </div>
    </div>
</div>
