@model IEnumerable<DSM5.Models.Capitulo>

@{
    ViewBag.Title = "Capitulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2">
    <div class="container">
        <div class="table">
            <hr />
            @foreach (var item in Model)
            {
                <div class="row shadow">
                    <div class="col-md-4">
                        <img src="~/Images/capitulos/@Html.DisplayFor(modelItem => item.imagen)" />
                    </div>
                    <div class="col-md-2 margenDescripcionesEventos">
                        <p>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.fecha)
                        </p>
                    </div>
                    <div class="col-md-5 margenDescripcionesEventos">
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </div>
                    <div class="col-md-1 margenDescripcionesEventos">
                        @if (Session["admin"] != null && (bool)Session["admin"] == true)
                        {
                            <p class="admin">@Html.ActionLink("Editar", "Edit", "Capitulo", new { id = item.id }, null)</p>
                            <p class="admin">@Html.ActionLink("Borrar  ", "Delete", "Capitulo", new { id = item.id }, null)</p>
                        }
                        @Html.ActionLink("Reproducir", "Reproducir", "Capitulo", new { id = item.id }, null)
                    </div>
                </div>
                <hr />
            }

        </div>

        @if (Session["admin"] != null && (bool)Session["admin"] == true)
        {
            <a class="btn btn-danger" href='@Url.Action("Create", "Capitulo", new { id = @Session["id_serie"] })'>Añadir capítulo</a>
        }

        <a class="btn btn-default" href='@Url.Action("Details", "Serie", new { id = @Session["id_serie"] })'>Volver</a>


    </div>

</div>
