@model DSM5.Models.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid bg-2">
    <div class="row">
        <div class="col-sm-4 text-justify">
            <h2>@Html.DisplayFor(model => model.Nombre)</h2>
            <img class="centrarResponsive img-responsive imagenesDetailsProductos" src="~/Images/Eventos/@Html.DisplayFor(model => model.Imagen)" />
        </div>
        <div class="col-sm-3">

            <p>

            </p>
            <p>
                @Html.DisplayNameFor(model => model.Tipo): @Html.DisplayFor(model => model.Tipo)
            </p>


            <p>
                @Html.DisplayNameFor(model => model.Stock): @Html.DisplayFor(model => model.Stock)
            </p>


            <p>
                @Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(model => model.Precio)
            </p>


            <p>
                @Html.DisplayNameFor(model => model.Valoracion): @Html.DisplayFor(model => model.Valoracion)
            </p>


            <p>
                <button type="button" class="btn ">@Html.ActionLink("Back", @Session["action"] as string, @Session["controller"] as string, @Session["arg"], null)</button>
                <button type="button" class="btn btn-mostaza">@Html.ActionLink("add to cart", "addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = Model.id }, null)</button>
                @if (Session["admin"] != null && (bool)Session["admin"] == true)
                {
                    <button type="button" class="btn admin ">@Html.ActionLink("Edit", "Edit", new { id = Model.id }) </button>
                    <button type="button" class="btn admin ">@Html.ActionLink("Delete", "Delete", new { id = Model.id }) </button>
                }

            </p>
        </div>
        <div class="col-sm-5">
            <p>
                @Html.DisplayNameFor(model => model.Descripcion)
            </p>
            <p>
                @Html.DisplayFor(model => model.descriplarga)
            </p>
        </div>
    </div>


</div>

@if (Session["admin"] != null && (bool)Session["admin"] == true)
{
    <p>
        @Html.Partial("_Comentario", (IEnumerable<DSM5.Models.Comentario>)ViewBag.coment)
    </p>
}

    @*
        <div>
            <h4>Evento</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stock)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Imagen)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Imagen)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Valoracion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Valoracion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>

            </dl>
        </div>
    *@



