@model IEnumerable<DSM5.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <div class="container-fluid bg-2G">

       <div class="row text-center">
           <div class="col-md-3"></div>
           <div class="col-md-6">
               <h2 class="margin bg-2">Eventos</h2>
               <p>
                   <a class="btn btn-default center-block" href='@Url.Action("Filtrar", "Evento")'><span class="glyphicon glyphicon-search"></span>Busqueda</a>
               </p>
               @if (Session["admin"] != null && (bool)Session["admin"] == true)
               {
                   <a class="admin btn btn-danger" href='@Url.Action("Create", "Evento", new { id = @Session["id_evento"] })'>Añadir evento</a>
               }
           </div>
           <div class="col-md-3">
           </div>
       </div> 

        @foreach (var item in Model)
        {
            <div class="panel">
                <div class="panel-heading text-center">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </div>
                <div class="panel-body bg-2 bg-black">  
                    <div class="row">
                        <div class="col-sm-4 text-justify">
                            <div>
                                <a href='@Url.Action("Details", "Evento", new { id = item.id })'>
                                    <img class="centrarResponsive img-responsive imagenesDetailsProductos" src="~/Images/Eventos/@Html.DisplayFor(model => item.Imagen)" />

                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <p>
                                    @Html.DisplayFor(model => item.Descripcion)
                                </p>
                                <p>
                                    @Html.DisplayFor(model => item.Precio)
                                </p>
                                <p>
                                    @Html.DisplayFor(model => item.Valoracion)
                                </p>
                                
                            </div> 
                            <div>
                                <p>
                                    <a class="btn btn-mostaza ne" href='@Url.Action("addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = item.id }, null)'>Añadir al carrito</a>
                                    <a class="btn btn-default" href='@Url.Action("Details", new { id = item.id })'>Detalles</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>                               
                </div>
            </div>
        }
   </div>














