@model IEnumerable<DSM5.Models.Evento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Eventos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Busqueda", "Filtrar")
</p>

   
@foreach (var item in Model)
{


<hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h2>@Html.DisplayFor(model => item.Nombre)</h2>
                <img class="centrarResponsive img-responsive imagenesDetailsProductos" src="~/Images/Eventos/@Html.DisplayFor(model => item.Imagen)" />
            </div>
            <div class="col-sm-4 margenDescripcionesEventos">

                <p>
                    
                </p>
               
                <p>
                    @Html.DisplayFor(model => item.Descripcion)  
                </p>

                <p>
                    @Html.DisplayFor(model => item.Precio)
                </p>

                <p>
                    @Html.DisplayFor(model => item.Valoracion)
                </p>        
                <p>
                    <button type="button" class="btn ">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                    <button type="button" class="btn ">@Html.ActionLink("Detalles", "Details", new { id = item.id })</button>
                    <button type="button" class="btn ">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button> 
                    <button type="button" class="btn btn-mostaza">@Html.ActionLink("add to cart", "addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = item.id }, null)</button>
                </p>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
<hr />





    @*
    <tr>
        <td>
            <img class="imagenesIndexProductos" src="~/Images/Productos/@item.Imagen" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Valoracion)
        </td>       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
    *@




}


