@model IEnumerable<DSM5.Models.Serie>

@{
    ViewBag.Title = "Index_Usu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2 text-center">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="margin">Series</h2>
        </div>
        <div class="col-md-3">
            <p>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>@Html.ActionLink("Busqueda", "Filtrar")</button>
            </p>
        </div>
    </div> 
    
        @if (Session["admin"] != null && (bool)Session["admin"] == true)
        {
        <p class="admin">
            @Html.ActionLink("Añadir serie", "Create")
        </p>
        }

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="col">
                <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
            </div>
            <div class="col">
                <p>Valoración: @Html.DisplayFor(modelItem => item.Valoracion)</p>
            </div>
            <div class="col">
                <a href='@Url.Action("Details", "Serie", new { id = item.id })'>
                    <!--Ruta simple: sw8.jpg-->
                    <img class="cartelera" src='~/Images/cartelera/@Html.DisplayFor(modelItem => item.Imagen)' />
                </a>
            </div>
        </div>
    }
    
</div>
