@model IEnumerable<DSM5.Models.Temporada>
    

@{
    ViewBag.Title = "mostrar_temp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>mostrar_temp</h2>

<p>

    
    @Html.ActionLink("Create New", "Create", "Temporada", new { id = @ViewData["id_serie"] },null)
    @Html.ActionLink("Back to List", "Details", "Serie", new { id = @ViewData["id_serie"] }, null)|
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Temporada", new {  id = item.id }, null)|
            @Html.ActionLink("Details", "Details", "Temporada", new { id = item.id }, null)|
            @Html.ActionLink("Delete", "Delete", "Temporada", new { id = item.id }, null)

      
        </td>
    </tr>
}

</table>
