@model DSM5.Models.Producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2 text-center">
    <h2 class="margin">Borrar Producto</h2>
    <div class="container">
        <h3 class="admin">¿Esta seguro de que desea borrar el producto @Html.DisplayFor(model => model.Nombre)?</h3>
        <hr />
        <div class="row">
            <img class="cartelera col-md-3 gerMargenLetras" src='~/Images/Productos/@Html.DisplayFor(modelItem => modelItem.Imagen)' />
            <div class="col-md-7 gerMargenLetras">
                <h4><strong>Nombre: </strong>@Html.DisplayFor(model => model.Nombre)</h4>
                <h4><strong>Descripcion: </strong>@Html.DisplayFor(model => model.Descripcion)</h4>
                <h4><strong>Talla: </strong>@Html.DisplayFor(model => model.Talla)</h4>
                <h4><strong>Stock: </strong>@Html.DisplayFor(model => model.Stock)</h4>
                <h4><strong>Precio: </strong>@Html.DisplayFor(model => model.Precio)</h4>
                <h4><strong>Valoracion: </strong>@Html.DisplayFor(model => model.Valoracion)</h4>
                <hr />
                @using (Html.BeginForm())
    {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" />
                <a class="btn btn-default" href='@Url.Action(@Session["action"] as string, @Session["controller"] as string, @Session["arg"], null)'>Cancelar</a>
            </div>
}
            </div>
        </div>
    </div>
</div>
