@model DSM5.Models.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid bg-2">
    <div class="row">
        <div class="col-sm-4 text-center">  
            <p>
                <h2 class="text-center">@Html.DisplayFor(model => model.Nombre)</h2>
            </p>
            <p>
                <img class="centrarResponsive img-responsive imagenesDetailsProductos" src="~/Images/Productos/@Html.DisplayFor(model => model.Imagen)" />
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                <h4>
                    @Html.DisplayNameFor(model => model.Nombre): @Html.DisplayFor(model => model.Nombre)
                </h4>               
            </p>         
            <p>
                <h4>
                    @Html.DisplayNameFor(model => model.Descripcion): @Html.DisplayFor(model => model.Descripcion)
                </h4>  
            </p>
            <p>
                <h4>
                    @Html.DisplayNameFor(model => model.Talla): @Html.DisplayFor(model => model.Talla)
                </h4>  
            </p>
            <p>
                <h4>
                    @Html.DisplayNameFor(model => model.Stock): @Html.DisplayFor(model => model.Stock)
                </h4>  
            </p>
            <p>
                <h4>
                    @Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(model => model.Precio)
                </h4>  
            </p>
            <p>
                <h4>
                    @Html.DisplayNameFor(model => model.Valoracion): @Html.DisplayFor(model => model.Valoracion)
                </h4>  
            </p>            
            <p>
                <button type="button" class="btn ">@Html.ActionLink("Volver", @Session["action"] as string, @Session["controller"] as string, @Session["arg"], null)</button>
                <button type="button" class="btn btn-mostaza">@Html.ActionLink("Añadir al carrito", "addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = Model.id }, null)</button>

                @if (Session["admin"] != null && (bool)Session["admin"] == true)
                {
                    <button type="button" class="btn admin">@Html.ActionLink("Edit", "Edit", new { id = Model.id }) </button>
                    <button type="button" class="btn admin">@Html.ActionLink("Delete", "Delete", new { id = Model.id }) </button>
                }



            </p>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>

@if (Session["log"] != null && (bool)Session["log"] == true)
{
    <p>
        @Html.Partial("_Comentario", (IEnumerable<DSM5.Models.Comentario>)ViewBag.coment)
    </p>
}
    @*
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dd>
                    <img src="~/Images/@Html.DisplayFor(model => model.Imagen)" width="300px" height="300px" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stock)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Valoracion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Valoracion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Talla)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Talla)
                </dd>

            </dl>
        </div>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back", @ViewData["action"]as string, @ViewData["controller"] as string, @ViewData["arg"], null)|
            @Html.ActionLink("add to cart", "addcarr", "Usuario", new {idus= @ViewData["correo"] as string,idpro=Model.id },null)|

            @Html.Partial("_Comentario", (IEnumerable<DSM5.Models.Comentario>)ViewBag.coment)
        </p>
    *@