@model IEnumerable<DSM5.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Productos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Busqueda", "Filtrar")
</p>
<table class="table">

    @*
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valoracion)
        </th>
        <th></th>
    </tr>
    *@
    



    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="gercaja">
                <p class="gerMargenLetras">@Html.DisplayFor(modelItem => item.Nombre)</p>
                <img class="imagenesIndexProductos" src="~/Images/Productos/@item.Imagen"/>
                <p class="gerMargenLetras">@Html.DisplayFor(modelItem => item.Precio)</p>
                <p>
                <button type="button" class="btn ">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>               
                <button type="button" class="btn ">@Html.ActionLink("Details", "Details", new { id = item.id })</button>  
                <button type="button" class="btn ">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>   
                </p>     
            </div>







            @*
                <tr>
                    <td>
                        <img src="~/Images/@item.Imagen" width="100px" height="100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valoracion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            *@
        }
    </div>















    

</table>

