@model IEnumerable<DSM5.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
@*
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="gercaja">
                <p class="gerMargenLetras">@Html.DisplayFor(modelItem => item.Nombre)</p>
                <img class="imagenesIndexProductos" src="~/Images/Productos/@item.Imagen"/>
                <p class="gerMargenLetras">@Html.DisplayFor(modelItem => item.Precio)</p>
                <p>
                <button type="button" class="btn ">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                <button type="button" class="btn ">@Html.ActionLink("Details", "Details", new { id = item.id })</button>
                <button type="button" class="btn btn-mostaza">@Html.ActionLink("add to cart", "addcarr", "Usuario", new { idus = @ViewData["correo"] as string, idpro = item.id }, null)</button>
                <button type="button" class="btn ">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
                </p>
            </div>

        }
    </div>
*@



@*
    <div class="container-fluid">
         @foreach (var item in Model)
         {
             <div class="container">
                 <div class="panel panel-default panelGer">
                     <div class="panel-heading">
                         @Html.DisplayFor(modelItem => item.Nombre)
                     </div>
                     <div class="panel-body">
                         <img class="imagenesIndexProductos" src="~/Images/Productos/@item.Imagen" />
                         <p class="gerMargenLetras">@Html.DisplayFor(modelItem => item.Precio)</p>
                         <p>
                             <button type="button" class="btn ">@Html.ActionLink("Edit", "Edit", new { id = item.id })</button>
                             <button type="button" class="btn ">@Html.ActionLink("Details", "Details", new { id = item.id })</button>
                             <button type="button" class="btn btn-mostaza">@Html.ActionLink("add to cart", "addcarr", "Usuario", new { idus = @ViewData["correo"] as string, idpro = item.id }, null)</button>
                             <button type="button" class="btn ">@Html.ActionLink("Delete", "Delete", new { id = item.id })</button>
                         </p>
                     </div>
                 </div>
             </div>
         }
     </div>
*@




<div class="container-fluid  text-center bg-2G">
    <h2 class="margin colorTituloProductos">Productos</h2>
    @if (Session["admin"] != null && (bool)Session["admin"] == true)
    {
        <p class="admin">
            @Html.ActionLink("Añadir producto", "Create")
        </p>
    }   
    <p>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>@Html.ActionLink("Busqueda", "Filtrar")</button>
    </p>

    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </p>                      
                    </div>
                    <div class="panel-body bg-2">
                        <a href='@Url.Action("Details", "Producto", new { id = item.id })'>                       
                            <img class="imagenesIndexProductos" src='~/Images/Productos/@Html.DisplayFor(modelItem => item.Imagen)' />
                        </a>
                        <p class="gerMargenLetras">
                        @Html.DisplayFor(modelItem => item.Precio)
                        </p>
                        <p>                         
                            <button type="button" class="btn btn-mostaza ne">@Html.ActionLink("Añadir al carrito", "addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = item.id }, null)</button>                     
                        </p>
                    </div>
                </div>
            </div>           
        </div>
    }
</div>

