@model IEnumerable<DSM5.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid  text-center bg-2">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="margin">Productos</h2>
            <p>
                <a class="btn btn-default center-block" href='@Url.Action("Filtrar", "Producto")'><span class="glyphicon glyphicon-search"></span>Busqueda</a>
            </p>
            @if (Session["admin"] != null && (bool)Session["admin"] == true)
            {
                <a class="admin btn btn-danger" href='@Url.Action("Create", "Producto", new { id = @Session["id_producto"] })'>Añadir producto</a>
            }
        </div>
        <div class="col-md-3">
        </div>
    </div>  
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>
                            <h4>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </h4>                          
                        </p>                      
                    </div>
                    <div class="panel-body bg-2 bg-black" >
                        <a href='@Url.Action("Details", "Producto", new { id = item.id })'>                       
                            <img class="imagenesIndexProductos" src='~/Images/Productos/@Html.DisplayFor(modelItem => item.Imagen)' />
                        </a>
                        <p class="gerMargenLetras">
                        @Html.DisplayFor(modelItem => item.Precio)
                        </p>
                        <p> 
                            <a class="btn btn-mostaza ne" href='@Url.Action("addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = item.id }, null)'>Añadir al carrito</a>
                           
                        </p>
                    </div>
                </div>
            </div>           
        </div>
    }
</div>

