@model IEnumerable<DSM5.Models.Producto>

@{
    ViewBag.Title = "Resultadobusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2">
    <div class="container">
        <h2 class="text-center">Resultado búsqueda</h2>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Talla</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Valoración</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            <a class="imagenesCarrito" href='@Url.Action("Detalles", "Detalles", new { id = item.id })'>
                                <img class="imagenesCarrito" src='~/Images/Productos/@Html.DisplayFor(modelItem => item.Imagen)' />
                            </a>

                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Talla)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Valoracion)</td>
                        <td>

                            <a class="btn btn-default" href='@Url.Action("Details", new { id = item.id })'>Detalles</a>
                            <a class="btn btn-mostaza" href='@Url.Action("addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = item.id }, null)'>Añadir al carrito</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    
</div>











