@model IEnumerable<DSM5.Models.Producto>

@{
    ViewBag.Title = "Resultadobusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2">
    <div class="container">
        <h2 class="text-center">Resultado búsqueda</h2>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Talla</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Valoración</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            <a class="imagenesCarrito" href='@Url.Action("Detalles", "Detalles", new { id = item.id })'>
                                <img class="imagenesCarrito" src='~/Images/Productos/@Html.DisplayFor(modelItem => item.Imagen)' />
                            </a>

                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Talla)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Valoracion)</td>
                        <td>

                            <button type="button" class="btn btn-default">@Html.ActionLink("Detalles", "Details", new { id = item.id })</button>
                            <button type="button" class="btn btn-mostaza">@Html.ActionLink("Añadir al carrito", "addcarr", "Usuario", new { idus = @Session["correo"] as string, idpro = item.id }, null)</button>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    
</div>















@*
    <div class="container-fluid bg-2">
        <h2>Resultado búsqueda</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Talla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valoracion)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Talla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valoracion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    </td>
                </tr>
            }

        </table>

    </div>
*@