@model DSM5.Models.Pelicula

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Nombre);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid bg-2">
    <div class="container">
        <div class="row">
            <img class="col-md-12 cabecera" src='~/Images/cabecera/@Html.DisplayFor(model => model.imagran)' />
        </div>
        <hr />
        <div class="row shadow">
            <img class="imagenDetails col-md-3 gerMargenLetras" src='~/Images/cartelera/@Html.DisplayFor(modelItem => modelItem.Imagen)' />

            <div class="col-md-6 gerMargenLetras">
                <h4><strong>@Html.DisplayFor(model => model.Nombre)</strong></h4>
                <h4><strong>Género: </strong>@Html.DisplayFor(model => model.genero)</h4>
                <h>@Html.DisplayFor(model => model.descripcion)</h>
                <hr />
                <a class="btn btn-primary center-block" href='@Url.Action("Reproducir", "Pelicula", new { id = Model.id })'>Reproducir pelicula</a>
            </div>

            @if (Session["log"] != null && (bool)Session["log"] == true)
            {
                <div class="dropdown col-md-3 gerMargenLetras">
                    <button class="btn btn-secondary dropdown-toggle colorBlack" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div>
                            <a class="dropdown-item" href='@Url.Action("addlist", "Usuario", new { idus = @Session["correo"] as string, idpro = Model.id, lista = "sig" })'>Añadir a siguiendo</a>
                        </div>
                        <div>
                            <a class="dropdown-item" href='@Url.Action("addlist", "Usuario", new { idus = @Session["correo"] as string, idpro = Model.id, lista = "fav" })'>Añadir a favoritos</a>
                        </div>
                        <div>
                            <a class="dropdown-item" href='@Url.Action("addlist", "Usuario", new { idus = @Session["correo"] as string, idpro = Model.id, lista = "visto" })'>Añadir a visto</a>

                        </div>

                        @if (Session["admin"] != null && (bool)Session["admin"] == true)
                        {
                            <div>
                                <a class="dropdown-item admin" href='@Url.Action("Edit", "Pelicula", new { id = Model.id })'>Editar</a>

                            </div>

                            <div>
                                <a class="dropdown-item admin" href='@Url.Action("Delete", "Pelicula", new { id = Model.id })'>Borrar</a>

                            </div>
                        }
                    </div>
                </div>
            }

        </div>

    </div>

    @if (Session["log"] != null && (bool)Session["log"] == true)
    {
        <p>
            @Html.Partial("_Comentario", (IEnumerable<DSM5.Models.Comentario>)ViewBag.coment)
        </p>
    }

</div>
