@model DSM5.Models.Pelicula

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Nombre);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <img class="col-md-12" src='~/Images/cabecera/@Html.DisplayFor(model => model.imagran)' />
    </div>
    
    <div class="row">
        <img class="cartelera col-md-3 gerMargenLetras" src='~/Images/cartelera/@Html.DisplayFor(modelItem => modelItem.Imagen)' />

        <div class="col-md-6 gerMargenLetras">
            <h4><strong>Título: </strong>@Html.DisplayFor(model => model.Nombre)</h4>
            <h4><strong>Género: </strong>@Html.DisplayFor(model => model.genero)</h4>
            <h>@Html.DisplayFor(model => model.descripcion)</h>
            <a class="btn btn-primary center-block" href='@Url.Action("Reproducir", "Pelicula", new { id = Model.id })'>Reproducir pelicula</a>
        </div>

        <div class="dropdown col-md-3 gerMargenLetras">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Vista</a>
                <a class="dropdown-item admin" href='@Url.Action("Delete", "Pelicula", new { id = Model.id })'>Borrar</a>
                <a class="dropdown-item admin" href='@Url.Action("Edit", "Pelicula", new { id = Model.id })'>Editar</a>
                <a class="dropdown-item admin" href='@Url.Action("addlist", "Usuario", new { idus= @ViewData["correo"] as string, idpro=Model.id, lista="sig"  })'>siguiendo</a>
                <a class="dropdown-item admin" href='@Url.Action("addlist", "Usuario", new { idus= @ViewData["correo"] as string, idpro=Model.id, lista="fav"  })'>favoritos</a>
                <a class="dropdown-item admin" href='@Url.Action("addlist", "Usuario", new { idus= @ViewData["correo"] as string, idpro=Model.id, lista="visto"  })'>visto</a>
            </div>
        </div>

    </div>
    
</div>
<p>
    @Html.Partial("_Comentario", (IEnumerable<DSM5.Models.Comentario>)ViewBag.coment)
</p>
